.successStories {
    display: flex;
    flex-direction: row;
}
.showcasePic {
    width: 55%;
    height: 100%;
    overflow: hidden;
}
.testimonials_success {
    width: 45%;
}

/* height to be changed */
.showcasePic img {
    max-height: 100%;
    max-width: 100%;
    height: 600px;
    width: 100%;
    filter: brightness(35%);
}
.testimonials_success {
    background-color: red;
    align-items: center;
    text-align: center;
}

/* font size to be changed */
.testimonials_success h1 {
    text-transform: uppercase;
    margin: 3rem 0 1.5rem 0;
    font-weight: 400;
    font-family: 'Lulo-Clean-One-Bold';
    font-size: 38px;
}
.test_success_story {
    margin-bottom: 2rem;
    overflow: hidden;
}
.test_success_story p {
    font-size: 18px;
    width: 70%;
    margin: 0 auto 0.5rem;
    font-style: italic;

}

.test_success_story h5 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 11px;
    margin-bottom: 1rem;
}

.test_success_story h6 {
    font-weight: 400;
    font-size: 9px;
}

/* Next Hub */
@media screen and (max-width: 1024px) {
    .showcasePic {
        width: 40%;
    }
    .testimonials_success {
        width: 60%;
    }
}