#galery {
    background-color: white;
    padding-top: 5px;
}
.pics {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.pics > div {
    width: 49.8%;

}

.pics div img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.5s ease;
}

.pics div img:hover {
    opacity: 0.7;
}

/* ipad air landscape mode */
@media screen and (max-width: 1180px) {
    .pics {
        gap: 3px;
    }
}

/* Next Hub */
@media screen and (max-width: 1024px) {
    .pics {
        gap: 3px;
    }
}

/* Samsung galxy S8+ */
@media screen and (max-width: 740px) {
    .pics {
        gap: 1px;
    }
}

/* surface duo landscape mode */
@media screen and (max-width: 720px) {
    .pics {
        gap: 2px;
    }
}

/* Surface duo */
@media screen and (max-width: 540px) {
    .pics {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 5px;
    }
    .pics > div {
        width: 100%;
    }
}