.testimonial {
    padding: 2rem 0 2rem 4rem;
    background-color: red;
}

.testimonial .content {
    width: 70%;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway',sans-serif;
}

.testimonial .name {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0.2rem;
    color: black;
    font-family: 'Raleway',sans-serif;
}

@media screen and (max-width: 1024px) {
    .testimonial .content {
        font-size: 20px;
    }
}