.testimonial {
    padding: 2rem 0 2rem 4rem;
    background-color: red;
}

.testimonial .content {
    width: 70%;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway',sans-serif;
}

.testimonial .name {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0.2rem;
    color: black;
    font-family: 'Raleway',sans-serif;
}


/* Next Hub */
@media screen and (max-width: 1024px) {
    .testimonial .content {
        font-size: 20px;
    }
}

/* Ipad Air */
@media screen and (max-width: 820px) {
    .testimonial .content {
        width: 90%;
        font-size: 18px;
        margin-left: 0.1rem;
    }
}

/* Ipad Mini */
@media screen and (max-width: 768px) {
    .testimonial {
        width: 100%;
    }
}

/* Surface duo */
@media screen and (max-width: 540px) {
    .testimonial .content {
        font-size: 14px;
        margin-left: 0rem;
    }
    .testimonial .name {
        font-size: 13px;
        margin-left: -3rem;
    }
}

/* Iphone 14 Pro Max */
@media screen and (max-width: 430px) {
    .testimonial .content {
        font-size: 10px;
    }
}

/* Iphone SE */
@media screen and (max-width: 375px) {
    .testimonial {
        padding: 1rem 0 1rem 2rem;
    }
    .testimonial .content {
        font-size: 9px;
    }
}

/* Iphone 12 Pro */
@media screen and (max-width: 390px) {
    .testimonial .content {
        font-size: 8px;
    }
}