* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf'),
  url('./assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Lulo-Clean-One-Bold';
  src: url('./assets/fonts/lulo-clean/Lulo\ Clean\ One\ Bold.otf');
}

@font-face {
  font-family: 'Brusher';
  src: url('./assets/fonts/Brusher/Brusher.ttf');
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}